<ion-view view-title="Your weather reports">
  <!--Remove nav bar from here to avoid flicker when switching tabs -->
    <ion-content>
        <div ng-repeat="statement in statements" class="list card">
            <div class="item item-avatar">
                <img ng-src='{{getImgByCategory(statement.report.category)}}'>
                <h2>{{statement.report.title}}</h2>
                <span class="span2 emocicones">{{getEmocicone(statement.report.range)}}&nbsp;</span>
                <p>{{statement.report.meteologist.name}}</p>
                <p>{{statement.createdAt | amDateFormat:'LL'}}</p>
            </div>

            <div class="item item-body">
                <p>{{statement.body | summerize}}</p>
               <!-- <p>
                  <a href="#" class="subdued">1 Like</a>
                  <a href="#" class="subdued">5 Comments</a>
                </p>-->
              </div>

        </div>

    </ion-content>
</ion-view>
