<ion-view view-title="Your weather reports">
    <ion-nav-bar class="bar-calm">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img src="avatar.jpg">
                <h2>Title</h2>
                <h2>Mood</h2>
                <p>Date</p>
                <p>Meteologist</p>
            </div>

            <div class="item item-body">
                <p>
                  Weather report short description fzef,lknelrgn lenglkenglng r
                </p>
               <!-- <p>
                  <a href="#" class="subdued">1 Like</a>
                  <a href="#" class="subdued">5 Comments</a>
                </p>-->
              </div>

        </div>

        <div class="list card">
            <div class="item item-avatar">
                <img src="avatar.jpg">
                <h2>Title</h2>
                <h2>Mood</h2>
                <p>Date</p>
                <p>Meteologist</p>
            </div>

            <div class="item item-body">
                <p>
                  Weather report short description fzef,lknelrgn lenglkenglng r
                </p>
              </div>

        </div>

        <div class="list card">
            <div class="item item-avatar">
                <img src="avatar.jpg">
                <h2>Title</h2>
                <h2>Mood</h2>
                <p>Date</p>
                <p>Meteologist</p>
            </div>

            <div class="item item-body">
                <p>
                  Weather report short description fzef,lknelrgn lenglkenglng r
                </p>
              </div>

        </div>

    </ion-content>
</ion-view>
