<ion-view view-title="Your climate">
  <!--Remove nav bar from here to avoid flicker when switching tabs-->
   <!-- <ion-nav-bar class="bar-calm">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>-->
    <ion-content class="aligner-column">
      <div ng-hide="message">
        <div google-chart chart="climate" class="mood-chart card aligner-column-item-center-vertical"></div>
      </div>
      <div ng-show="message" class="text-center" ><h4>{{message}}</h4></div>
    </ion-content>
</ion-view>
