<ion-view view-title="Please answer our meteologists">
  <ion-nav-bar class="bar-calm">
    <ion-nav-back-button ng-click="close()"></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="aligner-column padding" on-swipe="puhlease()" scroll="false">
    <blockquote class="aligner-column-item-top">
      <!--  <div class="item item-text-wrap">-->
      <p>{{sensor.label}}</p>
      <!-- </div>-->
    </blockquote>
    <div class="aligner">
      <img class="item-image" ng-src="{{identity.picture}}">
    </div>
    <div>
      <button class="button button-block button-calm button-outline" ng-click="record(sensor.id, sensor.samples[0])">{{sensor.samples[0].label}}</button>
      <button class="button button-block button-calm button-outline" ng-click="record(sensor.id, sensor.samples[1])">{{sensor.samples[1].label}}</button>
      <!-- <p class="triangle-border right clickable" ng-click="puhlease()" >Puh-lease!</p>-->
      <!--<button class="button button-block button-calm button-outline" ng-click="close()">Leave me now</button>-->
    </div>

  </ion-content>
</ion-view>
